<div class="messageBox">
    <div class="modal-header">
        <h3>Edit the category</h3>
    </div>
    <div class="modal-body">
        <form>
            <fieldset>
                <legend></legend>
                <label>Name</label>
                <input data-bind="value: id" type="hidden" />
                <input data-bind="value: name" type="text" placeholder="Type something…">
                <div>
                    <button data-bind="click: save" type="button" class="btn">Save</button>
                    <button data-bind="click: close" type="button" class="btn">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
