<div class="row-fluid">
    <div class="span6">
        <section>
            <h2 class="page-title">List of items</h2>
        </section>
    </div>
     <div class="span6" style="margin-top: 10px;">
        <button data-bind="click: addItem" type="button" class="btn pull-right" name="btn-add-item">Add</button>
    </div>
</div>

<table class="table table-condensed table-hover table-bordered">
    <thead>
        <th>Category</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created by</th>
        <th>Modified by</th>
        <th>Created date</th>
        <th>Modified date</th>
        <th></th>
        <th></th>
    </thead>
    <tbody data-bind="foreach: itemList.items">
        <tr>
            <td data-bind="text: categoryName"></td>
            <td data-bind="text: title"></td>
            <td data-bind="text: shortDescription"></td>
            <td data-bind="text: createdBy"></td>
            <td data-bind="text: modifiedBy"></td>
            <td data-bind="text: createdDate"></td>
            <td data-bind="text: modifiedDate"></td>
            <td><a href="#" data-bind="click: function (data, event) { $parent.editItem(data) } ">Edit</a></td>
            <td><a href="#" data-bind="click: function (data, event) { $parent.deleteItem(data.itemId) } ">Delete</a></td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <ul data-bind="foreach: itemList.pagers">
        <li><a href="#" data-bind="text: page, click: function (data, event) { $parent.itemList.paging(data.page) }"></a></li>
    </ul>
</div>