<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="/">
            <span class="title">Admin Page</span> 
        </a>
        <div class="btn-group" data-bind="foreach: router.visibleRoutes">
            <a data-bind="css: { active: isActive }, attr: { href: hash }, text: name" 
               class="btn btn-info" href="#"></a>
        </div>
        <!--<div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
            <i class="icon-spinner icon-2x icon-spin"></i>
        </div>-->
        <!--<form class="navbar-search pull-right" data-bind="submit: search">
            <input type="text" class="search-query" placeholder="Search">
        </form>-->
        
        <form action="/Account/LogOff" method="post" class="btn-group pull-right">
            <button type="submit" class="btn btn-info">LogOff</button>
        </form>
    </div>
</nav>